@model EventDetailViewModel

@{
	string description = "Osavõtjad";
	TempData["eventId"] = Model.Event.Id;
}

<div class="container">
	<partial name="_Grass" model="@description" />
	<div class="row bg-white">
		<div class="offset-lg-3 col-lg-6 ps-lg-5 offset-0 col-12">
			<div class="px-3 pt-3 mt-4">
				<div class="row">
					<p class="create-header">Osavõtjad</p>
				</div>
				<div class="row mb-2">
					<label class="col-md-3 col-form-label">Ürituse nimi:</label>
					<div class="col-md-9 ps-lg-5">
						<p class="pt-2 m-0">@Html.DisplayFor(modelItem => Model.Event.Name)</p>
					</div>
				</div>
				<div class="row mb-2">
					<label class="col-md-3 col-form-label">Toimumisaeg:</label>
					<div class="col-md-9 ps-lg-5">
						<p class="pt-2 m-0">@Html.DisplayFor(modelItem => Model.Event.OccurrenceTime)</p>
					</div>
				</div>
				<div class="row mb-2">
					<label class="col-md-3 col-form-label">Koht:</label>
					<div class="col-md-9 ps-lg-5">
						<p class="pt-2 m-0">@Html.DisplayFor(modelItem => Model.Event.Place)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="offset-lg-3 col-lg-9 ps-lg-5 offset-0 col-12">
			<div class="px-3">
				<div class="row">
					<label class="col-md-2 col-form-label">Osavõtjad:</label>
				</div>
				<div class="row mb-2 ps-lg-2">
					<div class="offset-md-3 col-md-9 ps-md-1 offset-lg-2 col-lg-10 ps-lg-4">
						<table class="table">
							@for (var i = 0; i < Model.Participants.Count(); i++)
							{
								<tr>
									<td class="td-width-14">
										@(i + 1). @Html.DisplayFor(modelItem => Model.Participants[i].FullName)
									</td>
									<td>
										@Html.DisplayFor(modelItem => Model.Participants[i].Code)
									</td>
									<td class="text-center text-gray">
										<a asp-area="" asp-controller="Participant" asp-action="Update" asp-route-id="@Model.Participants[i].Id" >VAATA</a>
									</td>
									<td class="pe-4 text-gray">
										<form method="post" asp-controller="Participant"  asp-action="Delete">
											<input name="Id" value="@Model.Participants[i].Id" hidden />
											<button type="submit" class="text-gray">KUSTUTA</button>
										</form>
									</td>
								</tr>
							}
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="offset-lg-3 col-lg-6 ps-lg-5 offset-0 col-12">
			<div class="p-3 mb-4">
				<div class="row">
					<p class="create-header">Osavõtjate lisamine</p>
				</div>
				<div class="row mb-2">
					<label class="col-md-3 col-form-label invisible"></label>
					<div class="col-md-9 ps-lg-5">
						<div class="form-check form-check-inline me-5">
							<input class="form-check-input" type="radio" name="group" value="person" checked>
							<label class="form-check-label">Eraisik</label>
						</div>
						<div class="form-check form-check-inline ms-4">
							<input class="form-check-input" type="radio" name="group" value="company">
							<label class="form-check-label">Ettevõte</label>
						</div>
					</div>
				</div>
				<form method="post" asp-controller="Event" asp-action="CreateParticipant">
					<div id="participant_form"></div>

					<div class="py-5">
						<a asp-controller="Event" asp-action="Index" class="btn btn-secondary">
							Tagasi
						</a>
						<button type="submit" class="btn btn-primary">Salvesta</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts{

	<partial name="_ValidationScriptsPartial" />

	<script>
		$(document).ready(function () {
			loadPartialView();

			$('input:radio[name=group]').change(function () {
				loadPartialView();
			});

			function loadPartialView() {

				var serializedModel = @Json.Serialize(@Model.NewParticipant);
				serializedModel.IsCompany = false;

				if ($('input:radio[name=group]:checked').val() === 'company') {
					serializedModel.IsCompany = true;
				}

				var modelJsonData = JSON.stringify(serializedModel);

				$.ajax({
					url: '/Participant/NewParticipantForm',
					type: 'POST',
					data: { modelJson: modelJsonData },
					success: function (result) {
						$('#participant_form').html(result);
					}
				}).then(function () {
					$("form").each(function () { 
						$.data($(this)[0], 'validator', false); 
					});
					$.validator.unobtrusive.parse("form");
				});
			};
		});
	</script>
}